Ignore exports folder and all contents
/exports/backups
/exports/important_backups
/exports/all_trades.csv
/exports/all_summary.csv
/exports/manual_trades.csv
/credentials.py
/inputs.py
/sleepy.ico
/trade_review.bat

ignore IDE and pycharm files
/.idea/
/__pycache__/
